@{
    ViewBag.Title = "ResetPassword";
}

<h2>Reset Password for @ViewBag.UserName</h2>
New Generated Password : @ViewBag.Password 


<div>
    @Html.ActionLink("Back to List", "GetAllUsers", new{ page= ViewBag.Page })
</div>
